<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9hI_QeKH155lUSlHZ85dFy5tJkr1g06Y</string>
	<key>GCM_SENDER_ID</key>
	<string>347860094465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.project</string>
	<key>PROJECT_ID</key>
	<string>chatapp-d0d35</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-d0d35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347860094465:ios:76d004bcb52c908078ba00</string>
</dict>
</plist>